:root {
    --pagecolor: rgb(231, 169, 169);
        
}

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(2, 2, 54);
}

body {
    margin: 0;
    background-color: var(--pagecolor);
}

body p {
    font-size: 20px;
    font-weight: 200;
    font-style: oblique;
}

nav {
    display: flex;
    background-color: lightslategray;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

nav h1 {
    font-style: italic;
    font-size: 30px;
    text-shadow: 0 0 3px white;
    padding-right: 1200px;
}



nav a {
    text-align: right;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}

.pattern {
    display: block;
    background-repeat: repeat-x;
    width: auto;
    height: 50px;
}

h2 {
    color: navy;
    font-size: 25px;
    width: 200px;
    text-align: right;
    padding-right: 10px;
}

/* Container for About Me section */
#aboutme-section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 150px;
    width: auto;
    padding-bottom: 10px;
}

#aboutme-section .right-border {
    border-right: 5px solid navy;
    height: 100px;
}

/* Container for Work section */
#work-section {
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    width: auto;
    height: 350px;
}

#work-section .right-border {
    border-right: 5px solid navy;
    height: 300px; 
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 0px;
}

/* Styling for individual prpject items */
.myproj {
    position: relative;
    border-style :solid;
    border-width: 1px;
    padding: 0px;
    border-radius: 10px;
    background-color:darkslategrey;
}

.myproj header {
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    color:blanchedalmond;
    background-color: darkgrey;
    top: 25%;
}

.myproj .proj-image {
    width: 350px;
    height: 150px;
    border: 1px solid black;
    margin: 5px;
       
}

/* Container for contact section */
#contact-section {
    display: flex;
    flex-direction:row;
    align-content:flex-start;
    width: auto;
    height: 100px;
}

#contact-section .right-border {
    border-right: 5px solid navy;
    height: 100px;
}


/* Responsive properties For various devices */
/* For tablets */
@media screen and (max-width: 992px) {
    nav {
        flex-direction: column;
    }
}

/* For large smartphones */
@media screen and (max-width: 768px) {
    nav, .projects {
        flex-direction: column;
    }

}

/* For small smartphones */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

}

